<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img height="28" src="../../assets/images/ticket-logo.png" width="28"/>
    </a>

    <a
      aria-expanded="false"
      aria-label="menu"
      class="navbar-burger"
      role="button"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navbar">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" routerLink="/user/tickets">Tickets</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item" *ngIf="showNewTicketButton">
        <div class="buttons">
          <a class="button is-primary" routerLink="/user/tickets/new">
            <strong>New Ticket</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
