<div class="tile is-ancestor">
    <div class="tile is-parent">
      <ul>
        <li>
          <app-ticket
            title="Update Redis Cache Cookbook"
            created="2020-08-05T21:03:17+05:30"
            state="closed"
          ></app-ticket>
        </li>
        <li>
          <app-ticket
            title="Update Redis Cache Cookbook"
            created="2020-08-05T21:03:17+05:30"
            state="open"
          ></app-ticket>
        </li>
      </ul>
    </div>
    <div class="tile is-parent is-8">
      <router-outlet></router-outlet>
    </div>
  </div>
