<div class="form">
  
  <h1 class="title">Submit a ticket</h1>
  <div class="field">
    <label class="label">Search a requestor</label>
    <div class="control">
      <input class="input is-primary" type="email" placeholder="Enter email to search" />
    </div>
  </div>
  <div class="field">
    <label class="label">Your team</label>
    <div class="control">
      <div class="select is-primary">
        <select>
          <option>xyz</option>
          <option>abc</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Category</label>
    <div class="control">
      <div class="select is-primary">
        <select>
          <option>Category A</option>
          <option>Category B</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Classification</label>
    <div class="control">
      <div class="select is-primary">
        <select>
          <option>Classification A</option>
          <option>Classification B</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Subject</label>
    <div class="control">
      <input class="input is-primary" type="text" />
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <textarea class="textarea is-primary" rows="3"></textarea>
    </div>
  </div>
  <div class="field">
    <label class="file-label">
      <input class="file-input is-primary" type="file" name="resume" />
      <span class="file-cta">
        <span class="file-label">
          Choose a file…
        </span>
      </span>
    </label>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
    <div class="control">
      <button class="button is-primary is-light">Cancel</button>
    </div>
  </div>
</div>
