<div class="notification is-primary" *ngIf="ticket.state == 'open'">
  <button class="delete"></button>
  The ticket is open.
</div>

<div class="container">
  <div class="card">
    <div class="card-content">
      <h1 class="title">{{ticket.subject}}</h1>
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="is-size-4">Megha Priyadarshini</p>
          <p class="is-size-7">Last updated {{ticket.updatedAt | timeago}}</p>
        </div>
      </div>
      <p>
        {{ticket.replies[0].content}}
      </p>
    </div>
  </div>

  <div class="card" *ngFor="let reply of ticket.replies.slice(1)">
    <div class="card-content">
      <p class="is-size-7">{{ reply.createdAt | timeago}}</p>
      <p>{{reply.content}}</p>
    </div>
  </div>
</div>
