<app-header></app-header>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <ul>
      <li>
        <app-ticket
          title="Update Redis Cache Cookbook"
          created="2020-08-05T21:03:17+05:30"
          state="closed"
        ></app-ticket>
      </li>
      <li>
        <app-ticket
          title="Update Redis Cache Cookbook"
          created="2020-08-05T21:03:17+05:30"
          state="open"
        ></app-ticket>
      </li>
    </ul>
  </div>
  <div class="tile is-parent is-8">
    <article class="tile is-child box">
      <p class="title">Main column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
          magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
          sem. Etiam finibus odio quis feugiat facilisis.
        </p>
      </div>
    </article>
  </div>
</div>
